<!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">
	
	<!-- col -->
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark">
			
			<!-- PAGE HEADER -->
			<i class="fa-fw fa fa-list-alt"></i> 
				订单
			<span>>
				订单管理
			</span>
		</h1>
	</div>
	<!-- end col -->
	
	<!-- right side of the page with the sparkline graphs -->
	<!-- col -->
	<!-- <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
		<ul id="sparks">
			<li class="sparks-info">
				<h5> My Income <span class="txt-color-blue">$47,171</span></h5>
				<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
					1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
				</div>
			</li>
			<li class="sparks-info">
				<h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
				<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
					110,150,300,130,400,240,220,310,220,300, 270, 210
				</div>
			</li>
			<li class="sparks-info">
				<h5> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
				<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
					110,150,300,130,400,240,220,310,220,300, 270, 210
				</div>
			</li>
		</ul>
	</div> -->
	<!-- end col -->
	
</div>
<!-- end row -->

<!--
	The ID "widget-grid" will start to initialize all widgets below 
	You do not need to use widgets if you dont want to. Simply remove 
	the <section></section> and you can use wells or panels instead 
	-->

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">
		
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
				<!-- <div class="alert alert-info">
					<h4>jqGrid is a grid plugin for the JQuery Javascript library. It is free, open source and gets distributed under the MIT license.</h4>
					<br>
					<div class="col-sm-4">
						<ul>
							<li>
								Works fine under IE, Firefox, Chrome, Safari, Opera
							</li>
							<li>
								The UI comes in 20+ languages
							</li>

						</ul>
					</div>
					<div class="col-sm-4">
						<ul>
							<li>
								In-place cell editing or on-the-fly form creation to edit a record
							</li>
							<li>
								Supports subgrids and tree grid for displaying hierarchical data
							</li>

						</ul>
					</div>
					<div class="col-sm-4">
						<ul>
							<li>
								AJAX enabled - Accepts XML/JSON/local array data sources
							</li>
							<li>
								Paging, sorting, Search and filtering
							</li>
						</ul>
					</div>
					
					http://trirand.com/blog/jqgrid/jqgrid.html
				</div> -->

				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false">
					<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

					data-widget-colorbutton="false"
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true"
					data-widget-sortable="false"

					-->
					<header>
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>Hide / Show Columns </h2>

					</header>

					<!-- widget div-->
					<div>

						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
							<!-- This area used as dropdown edit box -->

						</div>
						<!-- end widget edit box -->

						<!-- widget content -->
						<div class="widget-body no-padding">
							<table id="jqgrid-dingdan"></table>
							<div id="pjqgrid-dingdan"></div>
						</div>
					</div>
				</div>
				
				
				
				<!-- <br>
				<a href="javascript:void(0)" id="m1">Get Selected id's</a><br>
				<a href="javascript:void(0)" id="m1s">Select(Unselect) row 13</a> -->

		</article>
		<!-- WIDGET END -->
		
	</div>

	<!-- end row -->

</section>
<!-- end widget grid -->

<script type="text/javascript">
	 
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();
	
	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 * 
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 * 
	 */
	// $('#wid-id-2').jarvisWidgets({
	// 			'onFullscreen': function () { 
	// 				alert('test on onFullscreen'); 
	// 			} 
	// 		});
	var pagefunction = function() {
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", run_jqgrid_function);

		function statusFormatter (cellvalue, options, rowObject)
		{
			//未支付=1，已支付=2，服务中=3，服务完成=4，订单已取消=6，现今支付=5，订单已删除=9
			var res = '';
			switch(cellvalue){
				case 1: res = '未支付';
				break;
				case 2: res = '已支付';
				break;
				case 3: res = '服务中';
				break;
				case 4: res = '服务完成';
				break;
				case 6: res = '订单已取消';
				break;
				case 9: res = '订单已删除';
				break;

			}
		 
		   return res;
		}

		function typeFormatter (cellvalue, options, rowObject)
		{
			//未支付=1，已支付=2，服务中=3，服务完成=4，订单已取消=6，现今支付=5，订单已删除=9
			var res = '';
			switch(cellvalue){
				case 1: res = '充值';
				break;
				case 2: res = '洗车';
				break;
				case 3: res = '包月';
				break;
			}
		 
		   return res;
		}

		function run_jqgrid_function() {
			$('#wid-id-2 a.jarviswidget-fullscreen-btn').click(function () {
				 window.setTimeout(function () {
				 	$(window).trigger('resize.jqGrid.parent'); 
				 },500);
			});
			
			jQuery("#jqgrid-dingdan").jqGrid({
				//data : jqgrid_data,
				url:"/rest/admin/order/list",
				jsonReader : {root:"item"},
				datatype : "json",
				height : '100%',
				loadonce: true,
				colNames : ['订单编号', '车主姓名', '手机', '下单时间', '订单状态','车牌号','地址','订单类型','完成时间','消费金额','服务店员','评论'],
				colModel : [
					{ name : 'id', index:'id'}, 
					{ name : 'user.name', index : 'user.name',editable : true}, 
					{ name : 'user.phone', index : 'user.phone', editable : true }, 
					{ name : 'startOrderTime', index : 'startOrderTime', editable : true }, 
					{ name : 'status', index : 'status', align : "right", editable : true,formatter:statusFormatter },
					{ name : 'userCar.carNo', index : 'userCar.carNo', editable : true },
					{ name : 'userAddress.address.name', index : 'userAddress.address.name', editable : true },
					{ name : 'type', index : 'type', editable : true,formatter:typeFormatter},
					{ name : 'endOrderTime', index : 'countPrice', editable : true },
					{ name : 'countPrice', index : 'endOrderTime', editable : true },
					{ name : 'washer.name', index : 'washer.name', editable : true },
					{ name : 'comment', editable : true }

				],

				rowNum : 10,
				rowList : [10, 20, 30],
				pager : '#pjqgrid-dingdan',
				sortname : 'id',
				toolbarfilter: true,
				viewrecords : true,
				sortorder : "asc",
				gridComplete: function(){
					var ids = jQuery("#jqgrid-dingdan").jqGrid('getDataIDs');
					for(var i=0;i < ids.length;i++){
						var cl = ids[i];
						be = "<button class='btn btn-xs btn-default' data-original-title='Edit Row' onclick=\"jQuery('#jqgrid').editRow('"+cl+"');\"><i class='fa fa-pencil'></i></button>"; 
						se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#jqgrid').saveRow('"+cl+"');\"><i class='fa fa-save'></i></button>";
						ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>";  
						//ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>"; 
						//jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
						jQuery("#jqgrid-dingdan").jqGrid('setRowData',ids[i],{act:be+se+ca});
					}	
				},
				editurl : "/rest/admin/order/update",
				//caption : "SmartAmind jQgrid Skin",
				multiselect : true,
				autowidth : true

				});
				jQuery("#jqgrid-dingdan").jqGrid('navGrid', "#pjqgrid-dingdan", {
					edit : false,
					add : false,
					del : true
				});
				jQuery("#jqgrid-dingdan").jqGrid('inlineNav', "#pjqgrid-dingdan");
				/* Add tooltips */
				$('.navtable .ui-pg-button').tooltip({
					container : 'body'
				});

				jQuery("#m1").click(function() {
					var s;
					s = jQuery("#jqgrid-dingdan").jqGrid('getGridParam', 'selarrrow');
					alert(s);
				});
				jQuery("#m1s").click(function() {
					jQuery("#jqgrid-dingdan").jqGrid('setSelection', "13");
				});
				
				// remove classes
				$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
			    $(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
			    $(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
			    $(".ui-jqgrid-pager").removeClass("ui-state-default");
			    $(".ui-jqgrid").removeClass("ui-widget-content");
			    
			    // add classes
			    $(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			    $(".ui-jqgrid-btable").addClass("table table-bordered table-striped");
			   
			   
			    $(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
			    $(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			    $(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			    $(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			    $(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			    $(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			    $(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			    $(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");
			  
				$( ".ui-icon.ui-icon-seek-prev" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
				$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");
				
				$( ".ui-icon.ui-icon-seek-first" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
			  	$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");		  	
	
			  	$( ".ui-icon.ui-icon-seek-next" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
			  	$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");
			  	
			  	$( ".ui-icon.ui-icon-seek-end" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
			  	$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");
			  	
			  	// resize
				$(window).on('resize.jqGrid', function () {
					$("#jqgrid-dingdan").jqGrid( 'setGridWidth', $("#content").width() );
				})

				$(window).on('resize.jqGrid.parent', function () {
					 if (grid = $('.ui-jqgrid-btable:visible')) {
			            grid.each(function(index) {
			                gridId = $(this).attr('id');
			                gridParentWidth = $('#gbox_' + gridId).parent().width();
			                // gridParentHeight = $('#gbox_' + gridId).parent().height();
			                $('#' + gridId).setGridWidth(gridParentWidth,true);
			                // $('#' + gridId).setGridHeight(gridParentHeight,true);
			            });
			        }
				})
				//dynamic load user
				// $.ajax({
				// 	url: '/rest/admin/user/list',
				// 	type: 'GET',
				// 	success: function(data) {
				// 		if (data.status != 0) {
				// 			alert(data.msg);

				// 		} else {
				// 			alert('success');
				// 			console.log(data.data);
				// 			jQuery("#jqgrid").jqGrid('setGridParam', { data: data.data});
				// 			// hide the show message
				// 			// jQuery("#jqGrid")[0].grid.endReq();
				// 			// refresh the grid
				// 			jQuery("#jqgrid").trigger('reloadGrid');
				// 			//alert('SUCCESS. Product import started. Check back periodically.');

				// 		}
				// 		//allowSubmit = true;
				// 	},
				// 	error: function(data) {
				// 		alert(data.msg);
				// 	}

				// });


			} // end function



	}
	
	loadScript("js/plugin/jqgrid/grid.locale-cn.js", pagefunction);
	
</script>
